.general-info {
    background-image: url(../assets/background-image-1.png);
    color: #FFFFFF;
    height: 800px;
    position: relative;
}

.general-info-inside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.general-info-inside > img {
    animation-name: logoRotationOut;
    animation-fill-mode: forwards; 
    animation-duration: 1s;
}

.general-info-inside > img:hover {
    animation-name: logoRotationIn;
    animation-fill-mode: forwards; 
    animation-duration: 1s;
}

.headline {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
}

.headline-info {
    font-size: 24px;
    opacity: 0.7;
}

@keyframes logoRotationIn {
    0%{transform: rotateY(0deg) scale(1);}
    100%{transform: rotateY(180deg) scale(1.5);}
}

@keyframes logoRotationOut {
    0%{transform: rotateY(180deg) scale(1.5);}
    100%{transform: rotateY(0deg) scale(1);}
}