header {
    display: flex;
    position: fixed;
    z-index: 1;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    justify-content: space-evenly;
}

header:first-child {
    margin-left: 152px;
    margin-top: 45px;
    font-size: 20px;
}

ul {
    display: flex;
    list-style-type: none;
    margin-left: 165px;
    font-size: 16px;
}

li {
    margin-left: 32px;
    padding-top: 0;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    display: block;
}

header img {
    display: none;
}

@media (max-width: 768px) {
    header{
        justify-content: space-between;
    }

    ul {
        display: none;
    }

   header img {
        display: flex;
        margin-left: 320px;
    }
}