* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    height: 2336px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: auto;
}

@media (max-width: 768px) {
    body {
        width: 768px;
    }
}